@import url("https://fonts.googleapis.com/css?family=Edu TAS Beginner");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: Edu Tas Beginner;
}

:root {
  font-size: 32px;

  --white-color: #fff;
  --silver-color: #dddddd;
  --gray-color: #aaaaaa;
  --black-color: #111111;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--gray-color);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* INDEX PAGE */

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

.nav-bar {
  width: 100px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  border-right: 4px var(--gray-color) solid;
  transition: 0.4s linear;
}

.nav-bar:hover {
  width: 380px;
}

.logo-box {
  width: 80px;
  height: 80px;
  display: flex;
  transition: 0.4s linear;
  align-items: center;
}

.logo-box > span {
  position: absolute;
  opacity: 0;
  transition: 0.4s linear;
  font-size: 0.2rem;

  font-weight: bold;
  width: auto;
  left: 140px;
}

.nav-bar:hover > .logo-box {
  width: 120px;
  height: 120px;
}

.nav-bar:hover > .logo-box > span {
  opacity: 1;
  font-size: 1.2rem;
  text-shadow: 6px 6px 10px var(--silver-color);
}

.logo {
  width: 100%;
  filter: drop-shadow(3px 6px 4px var(--black-color));
}

.nav-list {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-item {
  cursor: pointer;
  width: 90%;
  height: 60px;
  border-radius: 8px;
  padding-left: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;

  transition: background-color 0.6s ease-in;
}

.nav-item:hover {
  background-color: var(--black-color);
}

.nav-item > button {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  align-items: center;
  font-weight: bold;
  color: var(--gray-color);
}

.nav-item:hover > button {
  color: var(--white-color);
}

.nav-item > button > i {
  padding: 14px 0;
  margin-right: 40px;
}

.nav-bar:hover > .nav-list > .nav-item > button > i {
  margin-right: 20px;
}

.nav-item:nth-child(1) {
  background-color: var(--black-color);
}

.number-box {
  color: var(--black-color);
  font-size: 0.7rem;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 6px;
  font-weight: bold;
  background-color: var(--white-color);
  border-radius: 50px;
}

.author-box {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
}

.avatar-box {
  position: relative;
  bottom: 0;
  width: 70px;
  height: 70px;
  background-color: var(--silver-color);
  border-radius: 140px;
  display: flex;
  align-items: center;
  transition: 0.4s linear;
}

.nav-bar:hover > .author-box > .avatar-box {
  width: 140px;
  height: 140px;
}

.avatar {
  width: 100%;
  border-radius: 140px;
}

.link {
    margin-left: 10px;
    color: var(--black-color);
  text-decoration: underline;
  transition: 0.4s linear;

}

.nav-bar:hover > .author-box > .avatar-box > .link {
    margin-left: 0;
}




/* HOME */

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.titles {
  
  position: absolute;
  right: 0;
  width: 80%;
  margin-right: 20px;
}

.home-title {
  font-size: 5rem;
  line-height: 220px;
  text-align: right;
}

.home-me {
  text-align: right;
  font-size: 2rem;
  font-style: italic;
  text-decoration: underline;
}

.home-me > a {
  color: var(--black-color);
}

/* Phone */
@media only screen and (max-width: 48em) {

  :root {
    font-size: 28px;
  }

  body {
    /* background-color: red; */
  }

  .nav-bar:hover {
    width: 100px;
  }

  .nav-bar:hover > .logo-box > span {
    opacity: 0;
    font-size: .2rem;
  }

  .nav-bar:hover > .nav-list > .nav-item > button > i {
    margin-right: 40px;
  }

  .nav-bar:hover > .author-box > .avatar-box {
    width: 70px;
    height: 70px;
  }

  .nav-bar:hover > .author-box > .avatar-box > .link {
    margin-left: 10px;
  }

  .titles {
    width: 60%;
  }
  .nav-bar:hover > .logo-box {
    width: 80px;
    height: 80px;
  }

  .home-title {
    font-size: 2.6rem;
    line-height: 70px;
    height: 80vh;
    padding-top: 10vh;
  }

  .home-me {
    font-size: 1rem;
  }



}




@media only screen and (min-width: 48em) {
  body {
    background-color: green;
  }
}
@media only screen and (min-width: 64em) {
  body {
    background-color: yellow;
  }
}

/* Actual */

@media only screen and (min-width: 80em) {
  body {
    background-color: transparent;
  }
}