@import url(./easy.css);


:root {
    --back-color: #f1f5f8;
}

.container {
    background-color: var(--back-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}

article {
    background-color: white;
    width: 560px;
    height: 420px;
    border-radius: 12px;
    box-shadow: -5px -5px rgba(87, 87, 87, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-box {
    margin-top: -20px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: var(--back-color);
}

.img-box > img {
    width: 100%;
}

.title {
    border: none;
    padding: 6px;
}

.role {
    text-transform: uppercase;
    font-size: .8rem;
    color: dodgerblue;
}

.desc {
    font-size: .8rem;
    width: 80%;
    text-align: justify;
}

.btn-model {
    cursor: pointer;
}